@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;900&family=Oxygen&display=swap');

/*
fonts : 
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Oxygen', sans-serif;
*/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
}

#container{
    height:100%;
    width:100%;
    /*background-color:cornflowerblue;*/
    /*background-color:rgba(1,1,1,0.5607);*/
}

.home_filter{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    /*background-color:rgba(1,1,1,0.5607);*/
    /*background-color:rgba(1,1,1,0.66);*/
    background-color:rgba(238,238,238,1);
    z-index:1;
    }
.home_container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:2;
    display:flex;
    flex-direction:column;
    
    .home_logo{
        @extend .noselect;
        display:block;
        margin:auto;
        height:50px;
        text-align:center;
        /*color:rgb(39, 39, 39);*/
        color:black;
        font-size:2rem;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight:900;
        margin-bottom:10px;
        text-shadow:1px 2px 2px white;
    }

    .home_button{
        background-color:white;
        font-size:1.3rem;
        padding:8px 10px;
        border-radius:7px;
        text-decoration:none;
        color: black;
        font-family: 'Oxygen', sans-serif;
        box-shadow:rgba(0,0,0,0.04) 0 2px 3px;
        transition:.3s opacity ease-in-out;
        margin:
        5px auto;
    }

    .disabled_button{
        color:rgb(107, 107, 107);
        opacity:0.4;
        cursor: default;
    }
}
#loading_bar{
    position:absolute;
    bottom:0;
    left:0;
    display:inline-block;
    height:3px;
    width:0px;
    background-color:red;   
    z-index:2;
    transition-property: width,background-color;
    transition-duration: 1s;
}

.end_loadbar {
    background-color:transparent !important;
}


.dialog_textbox{
    @extend .noselect;
    position:absolute;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:10px;
    color:rgb(13, 14, 13);
    text-align:center;
    padding:15px 10px;
    line-height:100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.03);
    left:50%;
    top:80%;
    transform:translate(-50%,-50%);
    font-size:1.3rem;
    font-family: 'Oxygen', sans-serif;
    animation: fadein .6s ;
    animation-fill-mode: forwards;

    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin:top left;
    opacity:0;
}

@keyframes fadein {
    from { 
        
        /*transform:translate(-50%,-50%) scale3D(2);*/
        transform:perspective(200px) translate(-50%,-50%) translateZ(100px);
        box-shadow: 0 0 5px rgba(0,0,0,0.56);
    
    }
    to   { 
        opacity: 1;
        /*transform:translate(-50%,-50%) scale(1);*/
        transform:perspective(500px) translate(-50%,-50%) translateZ(0);
        box-shadow: 0 0 5px rgba(0,0,0,0.03);
    }
}

#answers_container{
    position:absolute;
    left:50%;
    top:90%;
    transform:translate(-50%,-50%);
    font-size:1.4rem;
    font-family: 'Oxygen', sans-serif;
    /*animation: fadein .6s;*/
    transform-origin:top left;
}

#answers_container a.answerA{
    display:inline-block;
    background-color:rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin:10px;
    border-radius:10px;
    color:rgb(13, 14, 13);
    font-size:1.3rem;
    text-align:center;
    padding:10px 20px;
    font-weight:bold;
    line-height:100%;
    cursor:pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.13);
    
    
    animation:fadein_answer;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-delay:calc(var(--idelay) * 100ms);


    transition:.05s transform ease-in-out;

    opacity:0;
    

    
}


#answers_container a.answerA:hover{
    //transform:perspective(200px) translateZ(50px);
    transform:scale(1.2);
    
}
@keyframes fadein_answer {
    0% {opacity:0;
    }
    100% {opacity:1;}

}